{% extends "layout.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-between min-vh-100">
            <div class="col-12 col-md-6 col-xl-7 order-md-2">
                <!-- Image -->
                <img alt="Image placeholder" src="{% static 'assets/img/svg/illustrations/illustration-13.svg' %}" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-xl-5 order-md-1 text-center text-md-left">
                <!-- Heading -->
                <h6 class="display-1 mb-3 font-weight-600 text-warning">Ooops!</h6>
                <!-- Text -->
                <p class="lead text-lg mb-5">
                    The page you are looking for could not be found.
                </p>
                <!-- Button -->
                <a href="{% url 'home' %}" class="btn btn-primary btn-icon hover-translate-y-n3">
                    <span class="btn-inner--icon"><i data-feather="home"></i></span>
                    <span class="btn-inner--text">Return home</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
