<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="WebLime">
    {% if title %}
      <title>WebLime | {{ title }}</title>
    {% else %}
      <title>WebLime | Digital Agency</title>
    {% endif %}
    <style>
      li a.post-home-links:hover {
      color: #152c5b !important;
    }
    </style>
    <!-- Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-152072017-1');
    </script>
    <!-- Preloader-->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png">
    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/swiper/dist/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">

</head>

<body>
    <!-- Preloader-->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                        We use cookies so that our themes work for you. By using our website, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="../../pages/utility/terms.html" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Header & Navbar -->
        {% if request.path == '/' %}
          <header class="" id="header-main">
          <nav class="navbar navbar-main navbar-expand-lg navbar-light" id="navbar-main">
        {% else %}
          <header class="header-transparent" id="header-main">
          <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-dark" id="navbar-main">
        {% endif %}
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="{% url 'home' %}">
                    WebLime
                    <!--<img alt="Image placeholder" src="{% static 'assets/img/brand/dark.svg' %}" id="navbar-logo"> -->
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                    <!-- Toggler -->
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <!-- Main navigation -->
                    <ul class="navbar-nav ml-lg-auto">
                        <!-- Overview -->
                        <!-- Coming soon
                        <li class="nav-item nav-item-spaced d-none d-lg-block">
                            <a class="nav-link" href="{% url 'who-we-are' %}">Who We Are</a>
                        </li>
                         -->
                    <!-- Top Right Navigation -->
                        <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'solutions' %}">Solutions</a>
                            </li>
                            <li class="nav-item">
                                {% if title == 'Solutions' or title == 'Get In Touch' %}
                                  <a href="{% url 'get-in-touch' %}" class="btn btn-sm btn-white btn-icon ml-3">
                                {% else %}
                                  <a href="{% url 'get-in-touch' %}" class="btn btn-sm btn-primary btn-icon ml-3">
                                {% endif %}
                                <span class="btn-inner--text">Get In Touch</span>
                                </a>
                            </li>
                        </ul>

                    <!-- Mobile button -->
                    <div class="d-lg-none px-4 text-center">
                      <ul class="navbar-nav align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'solutions' %}">Solutions</a>
                        </li>
                        <div class="d-lg-none px-4 text-center"><a href="{% url 'get-in-touch' %}" class="btn btn-block btn-sm btn-primary">Get In Touch</a></div>
                      </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


      {% block content %}{% endblock %}

    <footer class="position-relative mt-8">
        <div class="footer pt-lg-7">
            <!-- Footer -->
            <div class="container">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-3">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 WebLime. All rights reserved
                        </div>
                    </div>
                    <div class="col-md-3">
                          <!-- Social -->
                          <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                              <li class="nav-item">
                                  <a class="nav-link pl-0" href="https://www.facebook.com/weblimeworld/" target="_blank">
                                      <i data-feather="facebook"></i>
                                  </a>
                              </li>
                              <!--<li class="nav-item">
                                  <a class="nav-link" href="https://twitter.com/WebLime8" target="_blank">
                                      <i data-feather="twitter"></i>
                                  </a>
                              </li>-->
                              <li class="nav-item">
                                  <a class="nav-link" href="https://www.instagram.com/weblimeworld/" target="_blank">
                                      <i data-feather="instagram"></i>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="https://www.linkedin.com/company/web-lime" target="_blank">
                                      <i data-feather="linkedin"></i>
                                  </a>
                              </li>
                          </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item nav-item-spaced d-none d-lg-block">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="nav-item nav-item-spaced d-none d-lg-block">
                                <a class="nav-link" href="{% url 'get-in-touch' %}">Get In Touch</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
      </nav>
    </footer>
    <!-- Core JS  -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
    <!-- Optional JS -->
    <script src="{% static 'assets/libs/in-view/dist/in-view.min.js' %}"></script>
    <script src="{% static 'assets/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Page JS -->
    <script src="{% static 'assets/libs/swiper/dist/js/swiper.min.js' %}"></script>
    <script src="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %}"></script>
    <!-- Quick JS -->
    <script src="{% static 'assets/js/quick-website.js' %}"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
    <script type="text/javascript">
      $('#imgpost').find('img').addClass('img-fluid')
    </script>
</body>

</html>
