{% extends "layout.html" %}
{% load static %}
{% block content %}

    <!-- Main content -->
<section class="bg-primary">
  <div data-offset-top="#navbar-main">
      <div class="container pb-7">
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-7 text-center">
                  <h1 class="text-white font-weight-normal">
                    Want to see what we’re made of?
                  </h1>
                  <p class="lead text-white opacity-8">
                    These highly-functional websites are made
                    from trusted conversations in valued partnerships.
                    It's the only way to get to the heart of a brand.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="slice pt-10 bg-section-secondary">
<div class="container">
  <div class="row mx-lg-n4">
    <div class="col-md-6 px-lg-4">
      <div class="card">
          <img class="card-img-top" src="{% static '/assets/img/clients_portfolio/weblime-client-ocnean.jpg' %}" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Ocnean Pet Shop</h5>
              <ul>
                <li>Brand guidelines and logo</li>
                <li>Shopify Development</li>
                <li>Subscription orders</li>
                <li>Stripe integration</li>
                <li>Klaviyo email automation</li>
              </ul>
              <a href="https://www.ocnean.com" class="btn btn-sm btn-primary col text-center">Visit Site</a>
          </div>
      </div>

      <div class="card">
          <img class="card-img-top" src="{% static '/assets/img/clients_portfolio/weblime-client-pbh.jpg' %}" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Paws Between Homes</h5>
              <ul>
                <li>Wordpress Development</li>
                <li>Stripe Integration</li>
                <li>Give Lively integration for donations</li>
                <li>MailChimp Integration</li>
              </ul>
              <a href="https://pawsbetweenhomes.org" class="btn btn-sm btn-primary col text-center">Visit Site</a>
          </div>
      </div>
    </div>

    <div class="col-md-6 px-lg-4">
      <div class="card">
          <img class="card-img-top" src="{% static '/assets/img/clients_portfolio/weblime-cliennt-brock-insurance.jpg' %}" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Brock Insurance</h5>
              <ul>
                <li>Brand guidelines and logo</li>
                <li>Wordpress Development</li>
              </ul>
              <a href="https://www.ocnean.com" class="btn btn-sm btn-primary col text-center">Visit Site</a>
          </div>
      </div>

      <div class="card">
          <img class="card-img-top" src="{% static '/assets/img/clients_portfolio/weblime-client-inspired-accounting.png' %}" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Inspired Accounting</h5>
              <ul>
                <li>Wordpress Development</li>
                <li>HubSpot Integration</li>
                <li>Calendly Integration</li>
              </ul>
              <a href="https://inspired-accounting.com" class="btn btn-sm btn-primary col text-center">Visit Site</a>
          </div>
      </div>
    </div>

    </div>
  </div>
</section>

<section class="slice slice-lg delimiter-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="text-center mb-5">
                    <span class="badge badge-lg badge-primary badge-pill">
                      Testimonials
                    </span>
                </div>
                <div class="swiper-js-container">
                    <div class="swiper-container" data-swiper-items="1"
                    data-swiper-space-between="0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <p class="h5 lh-180 px-4 font-weight-300">
                                        "We are very pleased with the input,
                                        activity, cost effectiveness and
                                        cooperation of WebLime as our marketing
                                        partner. They have delivered on their
                                        promises and been thorough and
                                        consistent. We will continue to use
                                        and recommend their services. They have
                                        been a great addition to
                                        our operations."
                                    </p>
                                    <div class="text-center mt-4">
                                        <span class="h6 font-weight-light">
                                          Mary
                                        </span>
                                        <span class="h6 text-muted">
                                           - Ocnean Shop
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <p class="h5 lh-180 px-4 font-weight-300">
                                        "WebLime did a
                                        wonderful job helping us redesign our
                                        website. They swiftly pulled together a
                                        first draft and had the finalized site
                                        up and running within a week. After
                                        multiple frustrating attempts to have
                                        my website redesigned, it was wonderful
                                        to work with professionals who listen
                                        to their client's needs and provide
                                        outstanding service."
                                    </p>
                                    <div class="text-center mt-4">
                                        <span class="h6 font-weight-light">
                                          Chantel
                                        </span>
                                        <span class="h6 text-muted">
                                           - Resource Wranglers
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <p class="h5 lh-180 px-4 font-weight-300">
                                        "Love our new business Website!
                                        If you need to update or create a new
                                        website for your business call Weblime!
                                        He is knowledgeable, professional and
                                        super helpful. He took care of every
                                        request we made and paid attention
                                        to every detail!"
                                    </p>
                                    <div class="text-center mt-4">
                                        <span class="h6 font-weight-light">
                                          Jamie
                                        </span>
                                        <span class="h6 text-muted">
                                           - Brock Insurance
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button swiper-button-next btn-dark zindex-101"></div>
                    <div class="swiper-button swiper-button-prev btn-dark zindex-101"></div>
                </div>
            </div>
        </div>
    </div>
</section>

  {% endblock content %}
